$tangaroa: rgb(2, 36, 62);

.wrap{
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: $tangaroa;
}

.textboxes {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: center;
    box-sizing: border-box;
    width: 4000px;
}


