.qualitative-section {
	padding-left: 16px;
	padding-right: 16px;
	width: 60vw;

	.category-buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 8px;
		row-gap: 8px;
	}

	.dropdown-buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 8px;
		row-gap: 8px;
		margin-bottom: 8px;
		color: #fe5000;
		width: 60vw;
	}

	.submitted-notes {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 8px;
		text-align: left;

		li {
			p {
				margin: 0;
				padding-top: 4px;
				padding-left: 8px;
			}
		}
	}
}


