$orange: rgb(254, 80, 0) ;
$tangaroa: rgb(2, 36, 62);
$pumice: rgb(186, 191, 183);


.background {
    background-color: $tangaroa;
    color: $pumice;
}




.bottom-row .middle-row .top-row .link .dock {
    display: grid;
}







