.background {
    padding-left: 16px;
    padding-right: 16px;    
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


.list {
    display: grid;
    place-items: left;
}